body {
  margin: 0;
  background: linear-gradient(90deg, #0a4080, #577c8a);
  color: #353d46;
  font: 18px/27px 'Oxygen', sans-serif;

}

h1,
h2,
h3 {
  color: #6dd5be;
  margin: 0 0 27px;
  line-height: 1em;

}

/*
recran d'accuiel
*/
#board {
  margin: 0%;
  background-image: url(img/paysage.jpg);
  background-size: 100% 100%;
  box-shadow: 0px 3px 7px #000
}



#board div {


  width: 100%;
  height: 100%;
}

#board div img {
  margin-left: 44.9%;
  margin-top: 20%;
  width: 8%;
  height: 18%;
  border-radius: 50%;
}

#board div h3 {

  margin: 0 0 27px;
  color: rgb(255, 255, 255);
  margin-left: 43%;
  margin-top: 10px;

  text-shadow: 5px 5px 5px black;
}

#board div h4 {

  margin-left: 40%;
  color: #ffffff;
  text-shadow: 5px -8px 7px black;
}


/*
Menu
*/
nav {
  border: 2px solid #000;
  position: sticky;
  top: 0px;
  text-align: center;
  width: 100%;
  font-family: arial;
  z-index: 1;
}

.menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: white;

}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  transition: 0.5s;
  padding: 0.20em 0em;
}

nav a:hover {
  color: #59e9df;
  text-decoration: overline underline;
}
.titre{
  margin-left: 50px;
  font-size: larger;
}
/*
nav#slide-menu {
  background: white;
  position: absolute;
  overflow-y: auto;
  top: 0%;
  padding-left: 10px;
  display: flex;
  width: 100%;
  height: 10%;

}

nav#slide-menu a {
  margin-left: 130px;
  padding: 20px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  padding: 6px 0;
  cursor: pointer;
  align-content: center;
  justify-content: center;

}






}

*/

/*
Contenu
*/

.Acueil {
  padding-top: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: overline underline;

}

.Coemp {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: overline underline;
}

#content {
  background-color: white;
  margin-left: 36px;
  margin-top: 10px;
  border-radius: 8px;
  width: 95%;
  height: 680%;
}

article p {
  text-align: center;
  padding: 10px;
  font-family: 'andale Mono', monospace;
  font-size: 110%;

}





.competance {
  border: 5px solid white;
  width: 99%;
  height: 8%;
  display: flex;

  align-items: center;
  justify-content: center;


}

/*///////////////////////////////////////////////////////////////*/
#formation {
  width: 100%;
  height: 16%;


}

article#formation p {
  font-weight: bold;
  font-size: 140%;
  margin-left: 16%;
  display: flex;
  justify-content: start;
}

article#formation p.lieux {
  font-weight: bold;
  font-size: 105%;
  color: grey;
}





/*////////////////////////////////////////////////////////////////*/
#experience {
  width: 98%;
  height: 35%;

}
#experience div{
  text-align: center;
  margin-bottom: 6%;
  margin-left: -3.75em;
}
#experience div>h2{
 
}
#experience div a{
  color: black;
  padding: 0.35em 25%;
  border-radius: 10px;
  border: solid 3px #222222;
  transition: 0.5s;
  text-decoration: none;

  text-align: center;
}
#experience div a:hover{
  background-color: #0a4080;
  color: #fff;
}

/*////////////////////////////////////////////////////////////////*/


#centre_interet {
  width: 98%;
  height: 19%;
}
#centre_interet img{
  margin-right: 13px;
}
#centre_interet video {
  position: absolute;
  margin-left: 5px;
 left:69% ;
 }
 #centre_interet .dav {
  width: 445px;
  height:30%;
  margin-top: 25px;
 }
 #centre_interet .dav1 {
  width: 445px;
  height:37%;
 }
#centre_interet div{

  position: absolute;
  left: 32.5%;
  top: 600%;
  display: flex;
  flex-direction: column;

}





/*/////////////////////////////////////////////////////////////////////*/


footer p {
  margin-top: 8px;
  margin-bottom: 0%;
  user-select: none;
  text-align: center;
  background-color: #222222;
  border-top: #ffffff 0.3em solid;
  color: white;
  font-size: 100%;
  padding: 100px 0px 100px 0px;

}





/*/////////////////////////////////////////////////////////////////////*/
#contact {

  width: 100%;

  height: 10%;
 
}

#contact div {
  margin-top: 20px;
}

#contact img {
  width: 5%;
  height: 14%;
  margin-right: 15px;

}

#contact p a {
  text-decoration: none;
  color: #000;

}

#contact p {
  text-align: start;
  margin-left: 10%;
}
#contact .cv{
  position: relative;
  text-decoration: none;
  color: #000;
  left: 88%;
  top: -10%;
  font-size: 50;
  font-family: 'andale Mono', monospace;
  
}
#contact .cv:hover{
  text-decoration: overline underline;
  color: #59e9df;
 
}



/*/////////////////////////////////////////////////////////////////////*/

.competance div {
  margin-right: 45px;
  z-index: 0;
}

.java {
  position: relative;
  left: 25px;
  width: 200px;
  height: 200px;
  border: 5px solid #dfe5eb;
  border-radius: 2%;
  overflow: hidden;

}

.java img {
  object-fit: cover;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  right: 39px;
  bottom: 20px;
  transition: transform 0.5s ease;
}

.div-java {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  /* Fond semi-transparent pour l'overlay */
  color: #fff;
  /* Couleur du texte */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.java:hover img {
  filter: blur(5px);
}

.java:hover .div-java {
  opacity: 1;
}


.html {
  position: relative;
  left: 25px;
  width: 200px;
  height: 200px;
  border: 5px solid #dfe5eb;
  border-radius: 2%;
  overflow: hidden;
}

.html img {
  object-fit: cover;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  right: 15px;
  bottom: 15px;
  transition: transform 0.5s ease;
}

.div-html {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  /* Fond semi-transparent pour l'overlay */
  color: #fff;
  /* Couleur du texte */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.html:hover img {
  filter: blur(5px);
}

.html:hover .div-html {
  opacity: 1;
}


.bdd {
  position: relative;
  left: 25px;
  width: 200px;
  height: 200px;
  border: 5px solid #dfe5eb;
  border-radius: 2%;
  overflow: hidden;
}

.bdd img {
  object-fit: cover;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  right: 15px;
  bottom: 15px;
  transition: transform 0.5s ease;
}

.div-bdd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  /* Fond semi-transparent pour l'overlay */
  color: #fff;
  /* Couleur du texte */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.bdd:hover img {
  filter: blur(5px);
}

.bdd:hover .div-bdd {
  opacity: 1;
}

.reseaux {
  position: relative;
  left: 25px;
  width: 200px;
  height: 200px;
  border: 5px solid #dfe5eb;
  border-radius: 2%;
  overflow: hidden;
}

.reseaux img {
  object-fit: cover;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  right: 15px;
  bottom: 15px;
  transition: transform 0.5s ease;
}

.div-reseau {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  /* Fond semi-transparent pour l'overlay */
  color: #fff;
  /* Couleur du texte */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.reseaux:hover img {
  filter: blur(5px)
}

.reseaux:hover .div-reseau {
  opacity: 1;
}

.systeme {
  overflow: hidden;
  position: relative;
  left: 25px;
  width: 200px;
  height: 200px;
  border: 5px solid #dfe5eb;
  border-radius: 2%;
}

.systeme img {
  object-fit: cover;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  right: 15px;
  bottom: 15px;
  transition: transform 0.5s ease;
}

.div-system {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  /* Fond semi-transparent pour l'overlay */
  color: #fff;
  /* Couleur du texte */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.systeme:hover img {
  filter: blur(5px);
}

.systeme:hover .div-system {
  opacity: 1;

}

/*////////////////////////////////////////////////////////////////*/
/*
loader
*/
.loader {

  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

}

.lettre {
  color: #4a5562;
  font-size: 150%;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;

}

.loading {
  margin-left: 20px;
  display: block;
  width: 100px;
  height: 200px;

}

.loading::before {
  content: '';
  width: 45px;
  height: 45px;
  position: absolute;
  border: 2px solid red;
  border-color: red transparent red transparent;
  border-radius: 50%;
  animation: load 1s ease-in-out infinite;


}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    color: red;
    text-shadow: 0 0 7px red;
  }

}

.lettre:nth-child(1) {
  animation-delay: 0.1s;

}

.lettre:nth-child(2) {
  animation-delay: 0.2s;

}

.lettre:nth-child(3) {
  animation-delay: 0.3s;

}

.lettre:nth-child(4) {
  animation-delay: 0.4s;

}

.lettre:nth-child(5) {
  animation-delay: 0.5s;

}

.lettre:nth-child(6) {
  animation-delay: 0.6s;

}

.lettre:nth-child(7) {
  animation-delay: 0.7s;

}

.lettre:nth-child(8) {
  animation-delay: 0.8s;

}

.lettre:nth-child(9) {
  animation-delay: 0.9s;

}

.lettre:nth-child(10) {
  animation-delay: 1s;
}

.fondu_out {
  opacity: 0;
  transition: opacity 1s ease-out;
}